
#validacionModal {
  .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%) !important;
    top: 50% !important;
    margin: 0 auto !important;
  }
}


