<div class="row">
    <div class="col-12">
        <div class = "text-center">
            <h1>Listado de empleados</h1>
        </div>        
    </div>
</div>
<div class="row">
    <div class="col-12">
        <input class="form-control" id="busqueda_empleado" type="text" placeholder="Buscar empleado..." [(ngModel)]="filterTerm">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th mat-sort-header>No.</th>
                <th mat-sort-header>Nombre</th>
                <th mat-sort-header>Apellido</th>
              </tr>
            </thead>
            <tbody id="tablaEmpleados">
              <tr *ngFor = "let participante of participanteData | filter: filterTerm; let i = index ">
                <td>{{i+1}}</td>                 
                <td>{{participante.nombreModel}}</td>                
                <td>{{participante.apellidoModel}}</td>                
              </tr>              
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th mat-sort-header>No.</th>
                <th mat-sort-header>Nombre</th>
                <th mat-sort-header>Apellido</th>
              </tr>
            </thead>
            <tbody id="tablaAPI">
              <tr *ngFor = "let service of serviceObject | filter: filterTerm; let i = index ">
                <td>{{i+1}}</td>                 
                <td>{{service.userId}}</td>                
                <td>{{service.id}}</td>                
                <td>{{service.title}}</td>                
              </tr>              
            </tbody>
        </table>

    </div>
</div>